body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.squarespace-cdn.com/content/v1/5f10a7f0e4041a480cbbf0be/1629990578825-9ECITBHHWNMCGVVVQ6CU/unnamed.jpg');
    background-size: cover;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

/* Barra de navegación */
nav {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 98%;
}

/* Logo de la izquierda */
.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Georgia', serif;
}

/* Contenedor de los enlaces de navegación */
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-style: italic;
}

/* Botones de la derecha */
.buttons {
    display: flex;
    gap: 15px;
}

.button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.button:hover {
    background-color: white;
    color: #111;
}

/* Dropdown de idiomas */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

/* Contenedor de la galería */
.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin-top: 200px;
    /* Deja espacio para la barra de navegación */
    padding: 0px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo de los marcos de las imágenes */
.frame {
    position: relative;
    width: 280px;
    height: 400px;
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}

.frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

/* Estilo del texto dentro de la imagen */
.textimg {
    color: yellow;
    /* Cambiar el color a uno más visible */
    cursor: default;
    opacity: 0;
    /* Empieza oculto */
    transition: opacity 0.5s ease;
    font-size: 18px;
    /* Aumentar el tamaño de la fuente */
    font-weight: bold;
    /* Hacer que el texto sea más grueso */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Agregar sombra para que se destaque más */
}

.frame.selected .textimg {
    opacity: 1;
    /* Hacer visible el texto */
    position: fixed;
}

/* Efecto al pasar el mouse */
.frame:hover {
    box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.6);
    /* Simula la luz de la lamparita */
    opacity: 0.8;
    /* Pone un fondo más oscuro */
}

/* Estilo del botón interactivo */
.bottom-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    font-size: 18px;
    font-style: italic;
}

.bottom-left h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.bottom-left p {
    margin-bottom: 15px;
}

/* Estilo del botón interactivo */
.bottom-left button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.bottom-left button:hover {
    background-color: white;
    color: #111;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo oscuro con opacidad */
    z-index: 9999;
    display: none;
    /* Inicialmente no visible */
}

.frame.selected {
    position: fixed;
    z-index: 10000;
    /* Aseguramos que la imagen seleccionada quede encima */
}

/* Contenedor del texto */
.typewriter-container {
    position: absolute;
    text-align: right;
    margin-top: 45%;
    margin-left: 22%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-style: italic;
    color: white;
    /* Aumentar el tamaño de la fuente */
    font-weight: bold;
    overflow: hidden;
    /* Asegura que solo se vea el texto en la animación */
    border-right: 3px solid #333;
    /* Simula el cursor de la máquina de escribir */
    width: 100%;
    /* Inicia sin mostrar el texto */
    white-space: nowrap;
    /* Evita el salto de línea */
    animation: typing 5s steps(50) infinite, blink 5s step-end infinite;
    /* Animación de máquina de escribir */
}

/* Estilos generales para el footer */
footer {
    background-image: url('https://i0.wp.com/placeres.pe/wp-content/uploads/2024/05/gg.jpeg?fit=2560%2C768&ssl=1');
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 400px;
    /* Altura del footer */
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.portrait {
    flex: 1;
    height: 100%;
}

.portrait img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen ocupe todo el espacio disponible sin distorsionarse */

    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.info {
    flex: 2;
    padding-left: 30px;
}

.info h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.social-icons a {
    color: white;
    font-size: 18px;
    margin-right: 15px;
    text-decoration: none;
    display: inline-block;
}

.social-icons a:hover {
    color: #f39c12;
    /* Color cuando el cursor pasa por encima */
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .portrait {
        height: 200px;
    }

    .info {
        padding-left: 0;
        margin-top: 20px;
    }

    .social-icons {
        margin-top: 15px;
    }
}

/* Animación para el efecto de máquina de escribir */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}

/* Efecto de parpadeo del cursor */
@keyframes blink {
    50% {
        border-color: transparent;
        /* El cursor parpadea */
    }
}